# Build files
StealthMorpher/build/
Transmorpher/build/
*.dll
*.exp
*.lib

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj
*.filters

# Logs
*.log

# Archives
*.rar
*.zip
*.7z

# WoW Local Settings (Addon)
Transmorpher/SavedVariables/
